body {
    margin: 0;
    background: black;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


#player {
    width: 100vw;
    height: 100vh;
    object-fit: contain; 
    background: black;
}

#cambiar {
    position: fixed;
    bottom: 20px;    
    right: 20px;    
    
    font-size: 28px;
    padding: 15px 30px;
    cursor: pointer;

    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 10px;
    color: white;

    opacity: 0;
    transition: 0.3s;
}

body:hover #cambiar {
    opacity: 1;
}
